{% extends 'pizza_lisa/jinja2/main/main_after_auth.html' %}

{% block content %}
<p> Hello, Dear Admin </p>
<br>
{% for m in users %}
    {% for n in about_user %}

    <li> 
        <p> <a href="/main/user/{{ pizza.id }}/"> *** {{ m.username }},</a> </p>
        <p> {{n['new_message']}}</p>
        <p> {{n.new_orders}}</p>
    </li>

        {% endfor %}
{% endfor %} 
{% endblock %}


"users": users,
"about_user":about_user,
"price":price,


<li> 
    <p> <a href="/pizza/lisa/{{ pizza.id }}/"> *** {{ pizza.name_pizza }},</a> </p>
    <p> Sale from {{ pizza.price }} BYN to {{ pizza.price_disсont }} BYN </p> 
        <form action="/pizza/lisa/basket/{{ pizza.id }}/" method="post">
            <button type="submit">Add to Basket</button>
        </form>
        <br>