{% extends 'main_admin.html' %}

{% block content %}
    <p> Hello, Dear Admin </p>
    | 
    <a href="/main/catalog/"> Catalog for Admin </a> |
    <a href="/main/user/all/"> All Users </a> |
    <a href="/main/all_orders_in_work/"> All Orders In Work </a> |
    <a href="/main/all_orders/"> All Orders</a> |<br>
    <br>Total sales {{(price|float|round(2))}} BYN </p>
    <br>
        
    <p> New Orders </p>
    {% for s in new_orders %}
        <li> 
            <p> <a href="/main/user/orders/{{ s.id }}/"> *** {{ s.user.username }},</a> New Order {{s.id}}  </p>
        </li>
    {% endfor %} 
    <br>

    <p> New Messages </p>
    {% for a in new_message %}
        <li> 
            <p> <a href="/main/user/message/{{ a.user_page.id }}/"> *** {{ a.user_page.username }},</a> New Messages {{a.message}} </p>
        </li>
    {% endfor %}
    <br> 


{% endblock %}
